/* SpotsHomePage.module.css */
.spotsList {
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.loading {
  text-align: center;
}

.spot {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}

.spotImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.spotDetails {
  padding: 8px;
}

.spotName {
  font-size: 1.2rem;
  font-weight: bold;
}

.spotLocation {
  font-size: 1rem;
  color: #666;
}

.spotPrice {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}


/* SpotsHomePage.module.css */
.spotsHomePageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* SpotCard.module.css */
.spotCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}

.imageContainer {
   position: relative;
   display: inline-block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}


.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  z-index: 1;
   /* Fade in tooltip */
  opacity: 0;
}

.imageContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.spotInfo {
  padding: 8px;
}

.spotInfoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  color: gold;
}

.spotInfoBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.price {
  font-weight: bold;
}

.perNight {
  font-size: 0.8em;
  color: #555;
}

/* SpotDetailsPage.module.css */
.spotDetailContainerr {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.spotDetailsImage {
  width: 50%;
}

.spotDetailsImage img {
  width: 100%;
  height: auto;
}

.spotDetailsInfo {
  width: 50%;
}

.spotDetailsInfo h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.spotDetailsInfo p {
  font-size: 1rem;
  color: #666;
}

.spotDetailsInfo .rating {
  display: flex;
  align-items: center;
}

.spotDetailsInfo .star {
  color: gold;
}

.spotDetailsInfo .price {
  font-size: 1.2rem;
  font-weight: bold;
}  


