.main {
     /* display: flex; */
     /* flex-direction: row; */
     /* flex-wrap: wrap; */
     /* justify-content: center; */
     /* align-items: flex-start; */
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     gap: 1rem;
     padding: 1rem;
}

@media (max-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

@media (max-width: 480px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}
