:root { /* These are CSS global variables
	 use them like this: 
	 color: var(--primary-color)
	 */
	--primary-color: skyblue;
	--secondary-color: #181A1B;
	--tertiary-color: skyblue;
	--quaternary-color: skyblue;
	--quinary-color: skyblue;
	--senary-color: skyblue;
	--septenary-color: skyblue;
	--octonary-color: skyblue;
	--nonary-color: skyblue;
	--denary-color: skyblue;
}

html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: white;
  height: 100%;
  width: 100%;
}
body {
  background-color: #181A1B;
  color: white;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /* this is the layer front to back, lower numbers are in the back */
}

#logo {
	height: 80px;
	margin: 20px;
	display: absolute;
}

h1 {
	color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/* div { */
/*   background-color: #181A1B; */
/*   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
/*   font-weight: lighter; */
/* } */

a, button, .clickable, .clickable:hover {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

input, input[type], textarea, select {
  color: white; /* Change color to dark gray */
  background-color: rgba(0, 0, 0, 0); /* Change background color to light gray */
  /* background-color: #f0f0f0; /* Change background color to light gray */ 
  border: 1px solid #ccc; /* Add a border */
  border-image: linear-gradient(to right, black 20%, transparent 80%) 5;
}
