.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-model: border-box;
  /* display: grid; */
  /* grid-template-columns: 1fr 5fr 2fr 1fr; */
  cursor: default;
  padding-bottom: 10px;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

li {
    display: flex;
    align-items: center;
}
h1 {
  background-color: #181A1B;
  color: white;
}

div {
  background-color: #181A1B;
}

.logoLink {
    display: flex;
    height: 100%;
}

img {
  height: 100px;
}

.hidden {
	display: none;
}

.createSpot {
    padding: 10px;
}

#dookie {
	position: flex;
    flex-start: 
      /* grid-column: 7/8; */

	top: 10px;
	right: 10px;
	border-radius: 10px;
	background-color: #007bff;
	/* background-color: #181A1B; */
  z-index: 2; /* this is the layer front to back, lower in the back */
}

#dookie:hover {
	background-color: #45a049;
}

.profile-dropdown {
  position: absolute;
  top: calc(100%); /* Position the dropdown content below the profile button */
  right: 0; /* Position the dropdown content to the right */
  list-style: none;
  /* background-color: lightgrey; */
  /* background-color: #181A1B; */
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  width: 200px;
  background: linear-gradient(to left, rgba(255,255,255,5) 0%,rgba(255,255,255,0.8) 80%); 
  z-index: 2; /* this is the layer front to back, lower in the back */

}

.profile-dropdown li {
  list-style: none;
  z-index: 2; /* this is the layer front to back, lower in the back */
  margin: 10px;
}


