.hidden {
	display: none;
}


.profile-dropdown {
  right: 0;
  background-color: #181A1B;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  top: 100%;
}

.profile-dropdown li {
  list-style: none;
  margin: 10px;
}

h1 {
  background-color: #181A1B;
  color: white;
}

div {
  background-color: #181A1B;
}
